* {
    padding: 0;
    margin: 0;
}

main {
    width: 1000;
    place-self: center;
}

li {
    list-style-type: none;
}



.header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-basis: 10px;
    align-items: center;
}

header a {
    color: white;
    font-style: normal;
    /* display: block; */
    /* height: 60px; */
    text-decoration: none;
    font-size: 30px;
    margin: 50px;
}

header a:hover {
    height: 100%;
    color: red;

}


.header-left {
    flex-grow: 1;
}

.header-center {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 100;
    height: fit-content;
}

.header-right {
    text-align: center;
    flex-grow: 1;
}




.modify {
    height: 50px;
    width: 80%;
    align-items: left;
    background-color: rgb(255, 77, 0);

    color: white;
    border-radius: 5px;
    border: 1px solid rgb(255, 77, 0);
margin-top: 10px;
    &:hover {
        background-color: white;
        color: rgb(255, 77, 0);
    }
}



.item {
    display: grid;
    grid-template-columns: 500px 500px;
    text-align: center;
    overflow: auto;

}

.form-container {
    display: grid;
}

.Info {
    display: grid;
    grid-template-columns: 500px 500px;
    text-align: left;
    align-items: start; 
    overflow: auto;

}

.order {
    display: grid;
    grid-auto-flow: row;
    text-align: left;
    width: 1000px;
    margin: 10px;
}




.selected {
    display: inline-block;
    height: 50px;
    line-height: 50px;

    align-items: center;
    border-bottom: 3px rgb(255, 77, 0) solid;
}

.unselected {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    align-items: center;
}

input {
    width: 80%;
    font-size: 20px;
    height: 50px;
    box-sizing: border-box;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    height: 50px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

th,
td {
    padding: 15px;
    text-align: left;
    height: 20px;
}

.w-50 {
    width: 50%;
}

/* 設定特定欄位寬度 */
.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

.btnOrder {
    width: 100px;
    /* 固定寬度 */
    height: 20px;
    /* 固定高度 */
    padding: 6px 12px;
    align-items: center;
    text-decoration: none;

    background-color: rgb(255, 77, 0);

    color: white;
    border: 1px solid rgb(255, 77, 0);

    &:hover {
        background-color: white;
        color: rgb(255, 77, 0);
    }
}