* {
    padding: 0;
    margin: 0;
}

main {
    width: 1000;
    place-self: center;
}


.header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-basis: 10px;
    align-items: center;
}

header a {
    color: white;
    font-style: normal;
    /* display: block; */
    /* height: 60px; */
    text-decoration: none;
    font-size: 30px;
    margin: 50px;
}




header a:hover {
    height: 100%;
    color: red;

}


.header-left {
    flex-grow: 1;
}

.header-center {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 100;
    height: fit-content;
}

.header-right {
    text-align: center;
    flex-grow: 1;
}

.itemList {


    width: 1000;
    display: grid;

    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    place-items: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;

    padding: 10px;

}

.img {
    width: 300px;
}


.name {
    font-size: 20px;
}


.WHEY,.BCAA
{
    font-family: Arial, Helvetica, sans-serif;
    place-items: center;
    text-align: center;
    height: 50px;
    font-size: 30px;
    margin: 50px;

    border-bottom:3px black solid ;
}