* {
    padding: 0;
    margin: 0;
}

main {
    width: 1000;
    place-self: center;
}

li {
    list-style-type: none;
}



.header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-basis: 10px;
    align-items: center;
}

header a {
    color: white;
    font-style: normal;
    /* display: block; */
    /* height: 60px; */
    text-decoration: none;
    font-size: 30px;
    margin: 50px;
}


.productName{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}


.productIntroduction {


    width: 1000;
    display: grid;

    grid-template-columns: 500px 500px;
    grid-column-gap: 10px;
    /* place-items: center;
    align-items: center; */
    flex-shrink: 0;

    margin: 20px;
}



.description {


    margin: 10px;
}

.deliver_pay {
    display: grid;
    grid-template-columns: 500px 500px;
    text-align: center;
}

.deliver ,.pay
{
    font-size: 20px;
    margin: 5px 5px;
}



header a:hover {
    height: 100%;
    color: red;

}

.price {
    font-size: 25px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0 10px 0;
    color: rgb(255, 77, 0);

}

.header-left {
    flex-grow: 1;
}

.header-center {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 100;
    height: fit-content;
}

.header-right {
    text-align: center;
    flex-grow: 1;
}


.quantity_group {
    font-size: 0px;
    align-items: center;
    white-space: nowrap;
}

button.quantity {
    width: 50px;
    height: 50px;
    color: black;
    background-color: transparent;
    border: 1px solid rgb(128, 128, 128);
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 25px;
}

input.quantity {
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 0px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid rgb(128, 128, 128);
    outline: none;
}

.addCart {
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 77, 0);

    color: white;
    border-radius: 5px;
    border: 1px solid rgb(255, 77, 0);

    &:hover {
        background-color: white;
        color: rgb(255, 77, 0);
    }
}

.item {
    display: grid;
    grid-template-columns: 500px 500px;
    text-align: center;
    overflow: auto;
    
}


.selected {
    display: inline-block;
    height: 50px;
    line-height: 50px; 
    
    align-items: center;
    border-bottom:3px rgb(255, 77, 0) solid ;
}

.unselected {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    align-items: center;
}

hr {
    height: 1px;
     background-color: rgba(0, 0, 0, 0.1); 
    /* 黑色，5% 不透明 */
}

.info{

    
    width: 1000px;
    margin: 10px;
}
