* {
    padding: 0;
    margin: 0;
}

main {
    width: 1000;
    place-self: center;
}

.header {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-basis: 10px;
    align-items: center;
}

header a {
    color: white;
    font-style: normal;
    /* display: block; */
    /* height: 60px; */
    text-decoration: none;
    font-size: 30px;
    margin: 50px;
}




header a:hover {
    height: 100%;
    color: red;

}


.header-left {
    flex-grow: 1;
}

.header-center {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 100;
    height: fit-content;
}

.header-right {
    text-align: center;
    flex-grow: 1;
}

.info {
    font-size: 25px;
    width: 500px;
    margin: 10px;
    display: grid;
    align-items: center;

}

.Register {
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 77, 0);

    color: white;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid rgb(255, 77, 0);

    &:hover {
        background-color: white;
        color: rgb(255, 77, 0);
    }
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    height: 50px;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}