<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>戰神MARS 茉香奶綠風味水解乳清 | 雙倍濃郁茶味、清甜奶香 | 高品質蛋白補給</title>
    <link rel="stylesheet" href="CSS/accountInfo.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-left">
            <a href="/"><img src="IMG/MARS.webp" height=100px></a>
        </div>

        <div class="header-center" height=60px>
            <a href="">蛋白粉</a>
            <a href="">BCAA</a>
        </div>

        <div class="header-right">
            <a id ="login" href="javascript:void(0);">登錄</a>
            <a id ="cart"href="javascript:void(0);">購物車</a>
        </div>
    </header>

    <main>
        <section >

            <div class="item">

                <div>
                    <span id="accountInfo" class="selected">個人資訊</span>
                </div>

                <div>
                    <span id="order" class="unselected">訂單</span>
                </div>
            </div>

            <hr>


            <div id="info" class="order">

                <table>
                    <thead>
                        <tr>
                            <th class="w-50">訂單號碼</th>
                            <th class="w-20">訂單日期</th>
                            <th class="w-20">合計</th>
                            <th class="w-10"></th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="w-50">20251216041813703</td>
                            <td class="w-20"> 2025-12-16</td>
                            <td class="w-20">NT$2,645</td>
                            <td class="w-10"><a class="btnOrder" href="/orders/6940dd8587cdfaab78ab4842">查閱</a>
                            </td>
                        </tr>


                        <tr>
                            <td class="w-50">20251216041813703</td>
                            <td class="w-20"> 2025-12-16</td>
                            <td class="w-20">NT$2,645</td>
                            <td class="w-10"><a class="btnOrder" href="/orders/6940dd8587cdfaab78ab4842">查閱</a>
                            </td>
                        </tr>
                    </tbody>

                </table>

               
            </div>

        </section>

    </main>



    <script src="Script/accountInfo.js"></script>
</body>

</html>