<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>戰神ARS</title>
    <link rel="stylesheet" href="CSS/index.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-left">
            <a href="/"><img src="IMG/MARS.webp" height=100px></a>
        </div>

        <div class="header-center" height=60px>
            <a href="">蛋白粉</a>
            <a href="">BCAA</a>
        </div>

        <div class="header-right">
            <a id ="login" href="javascript:void(0);">登錄</a>
            <a id ="cart"href="javascript:void(0);">購物車</a>
        </div>

    </header>

    <main>
        <section>

            <div class="WHEY">蛋白粉</div>
            <div id="Whey" class="itemList">

            </div>


            <div class="BCAA">BCAA</div>
            <div id="BCAA" class="itemList">

            </div>




        </section>
    </main>
    <script src="Script/index.js"></script>
</body>

</html>