<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>戰神MARS 茉香奶綠風味水解乳清 | 雙倍濃郁茶味、清甜奶香 | 高品質蛋白補給</title>
    <link rel="stylesheet" href="CSS/login.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-left">
            <a href="/"><img src="IMG/MARS.webp" height=100px></a>
        </div>

        <div class="header-center" height=60px>
            <a href="">蛋白粉</a>
            <a href="">BCAA</a>
        </div>

        <div class="header-right">
            <a id ="login" href="javascript:void(0);">登錄</a>
            <a id ="cart"href="javascript:void(0);">購物車</a>
        </div>
    </header>

    <main>
        <section class="login" id="login">
            <form action="">
                <input id="userID" class="userID" type="text" placeholder="Account" required>
                <input id="password" class="password" type="password" placeholder="Password" required>
                <button id="login_btn" class="login_btn" type="submit">登入</button>
            </form>

            <button id="Register_btn" class="Register_btn">新會員註冊</button>
        </section>
    </main>



    <script src="Script/login.js"></script>
</body>

</html>