<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>戰神MARS 茉香奶綠風味水解乳清 | 雙倍濃郁茶味、清甜奶香 | 高品質蛋白補給</title>
    <link rel="stylesheet" href="CSS/productStyle.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-left">
            <a href="/"><img src="IMG/MARS.webp" height=100px></a>
        </div>

        <div class="header-center" height=60px>
            <a href="">蛋白粉</a>
            <a href="">BCAA</a>
        </div>

        <div class="header-right">
            <a id ="login" href="javascript:void(0);">登錄</a>
            <a id ="cart"href="javascript:void(0);">購物車</a>
        </div>
    </header>

    <main>
        <section class="productIntroduction">
            <div><img src="" height=500px id="productImg"></div>
            <div>
                <p id="productName" class="productName">水解乳清 墨香奶綠</p>
                <div id="introductionList" width=100%>
                    <li>✓ 全台首創100%完全水解乳清蛋白</li>
                    <li>✓ 蛋白質分子最小、吸收效率最快</li>
                    <li>✓ 極低乳糖含量，較不易引起腸胃不適、長痘痘</li>
                    <li>✓ 每包隨手包提供26g優質蛋白質</li>
                    <li>抹茶與綠茶的雙倍濃郁茶味衝擊</li>
                    <li>香澀茶味入喉擴散，尾韻綻放茉莉花香</li>
                    <li>茶香與花香中隱隱透著清甜奶感，甜蜜無負擔</li>
                </div>
                <p class="price" id="price">NT$2500</p>
                <div class="quantity_group">
                    <button class="quantity" id="minus">-</button>
                    <input type="text" id="quantity" name="quantity" value=1 class="quantity" readonly>
                    <button class="quantity" id="plus">+</button>
                </div>
                <p><button class="addCart">加入購物車</button></p>
            </div>
        </section>

        <section class="productDescription">

            <div class="item">

                <div>
                    <span id="description" class="selected">商品描述</span>
                </div>

                <div>
                    <span id="deliver_pay" class="unselected">送貨方式</span>
                </div>
            </div>

            <hr>


            <div id="info" class="info">
                <div>
                    <span>品名｜戰神MARS水解乳清蛋白（茉香奶綠風味）</span>
                </div>
                <div>
                    <span>規格｜每袋20入or每盒60入，每份35g含26g蛋白質</span>
                </div>
                <div>
                    <span>產地｜台灣</span>
                </div>
                <div>
                    <span>保存方式｜避免陽光直射及高溫潮濕處，產品拆封後請立即食用</span>
                </div>
                <div>
                    <span>建議食用方式｜建議食用方式｜每包建議350-400ml水量，可依照個人口感調整</span>
                </div>
                <div>
                    <span>其他｜奶素可食、含咖啡因</span>
                </div>
                <div>
                    <span>本產品已投保產品責任險2000萬元，非實際賠償金額</span>
                </div>
            </div>

        </section>

    </main>



    <script src="Script/productScript.js"></script>
</body>

</html>