<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>戰神MARS 茉香奶綠風味水解乳清 | 雙倍濃郁茶味、清甜奶香 | 高品質蛋白補給</title>
    <link rel="stylesheet" href="CSS/Register.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="header-left">
            <a href="/"><img src="IMG/MARS.webp" height=100px></a>
        </div>

        <div class="header-center" height=60px>
            <a href="">蛋白粉</a>
            <a href="">BCAA</a>
        </div>

        <div class="header-right">
            <a id ="login" href="javascript:void(0);">登錄</a>
            <a id ="cart"href="javascript:void(0);">購物車</a>
        </div>
    </header>

    <main>

        <form class="info" id="info">註冊會員

            <input id="lastName" class="lastName" type="text" placeholder="姓氏" required>
            <input id="firstName" class="firstName" type="text" placeholder="名字" required>

            <label for="userID">帳號</label>
            <input id="userID" class="userID" type="text" placeholder="Account" required>


            <label for="password">密碼</label>
            <input id="password" class="password" type="password" placeholder="Password" required>

            <label for="passwordCheck">密碼確認</label>
            <input id="passwordCheck" class="passwordCheck" type="password" placeholder="Password" required>

            <label for="email">信箱</label>
            <input id="email" class="email" type="email" placeholder="user@example.com" required>

            <button type="submit" id="Register" class="Register">註冊</button>
        </form>


    </main>



    <script src="Script/Register.js"></script>
</body>

</html>